---
import BaseLayout from '@src/layouts/BaseLayout.astro';

import { css } from '@styled-system/css';

import LatestPosts from '@src/components/blog/LatestPosts.astro';

const divStyles = css({
  w: 'full',
  p: '8',
  display: 'flex',
  justifyContent: 'center',
  flexWrap: 'wrap',
  gap: '8',
});

const title = 'blog = f(retrospects)(posts)';
const description =
  'Memories are the key not to the past, but to the future - Cornelia Arnolda Johanna ten Boom';
---

<BaseLayout title={title} description={description}>
  <div class={divStyles}>
    <LatestPosts label="게시글" type="post" />
    <LatestPosts label="회고" type="retrospect" />
  </div>
</BaseLayout>
