---
import { css } from '@styled-system/css';

const headingStyles = css({
  color: 'eochaidNavy',
  fontSize: '4xl',
  fontWeight: 'bold',
});

const paragraphStyles = css({
  color: 'siamBlack',
  fontSize: 'xl',
});
---

<section aria-label="introduction">
  <h1 class={headingStyles}>박정욱</h1>
  <p class={paragraphStyles}>소프트웨어 엔지니어</p>
</section>
