---
import '../index.css';
import { css } from '../../styled-system/css';

const bodyStyles = css({
  height: 'full',
  minW: 'xs',
  backgroundColor: 'primary',
  fontFamily: 'pretendard',
});
---

<html lang="ko" class={css({ height: 'full' })}>
  <head>
    <title>blog = f(retrospects)(thoughts)(rss)</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="description" content="여러 가지 흔적" />
  </head>
  <body class={bodyStyles}> </body>
</html>
