---
import { css } from "../../styled-system/css";
---

<html lang="ko" class={css({ height: '100%' })}>
  <head>
    <title>Couvoir - 생각이 태어나는 곳</title>
    <meta charset="utf8" />
    <meta property="description" content="나만의 웹 놀이터" />
  </head>
  <body>
    <h1 class={css({ fontSize: "9xl" })}>프론트엔드 엔지니어 박정욱입니다.</h1>
  </body>
</html>