---
console.log('Start of my personal web playground!');
---

<html>
  <head>
    <title>Couvoir - 생각이 태어나는 곳</title>
    <meta charset="utf8" />
    <meta property="description" content="나만의 웹 놀이터" />
  </head>
  <body>
    <h1>Hello, WWW!</h1>
  </body>
</html>