---
import '../index.css';
import { css } from '../../styled-system/css';

const bodyStyles = css({
  height: 'full',
  minW: 'xs',
  backgroundColor: 'primary',
  fontFamily: 'pretendard',
});
---

<html lang="ko" class={css({ height: '100%' })}>
  <head>
    <title>me = f(cv)</title>
    <meta charset="utf8" />
    <meta property="description" content="나는 누구인가" />
  </head>
  <body class={bodyStyles}> </body>
</html>
