---
import '@src/index.css';

import { bodyStyles, mainStyles, divStyles } from '../styles';

import Navigation from '@src/components/Navigation.astro';
import Footer from '@src/components/Footer.astro';
---

<html lang="ko">
  <head>
    <title>blog = f(retrospects)(thoughts)(rss)</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="description" content="여러 가지 흔적" />
  </head>
  <body class={bodyStyles}>
    <Navigation />
    <main class={mainStyles}>
      <div class={divStyles}>글글글글글</div>
    </main>
    <Footer />
  </body>
</html>
